.speech {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24;
    color: black
}
.direction {
    font-family: Arial;
    font-size: 20;
    color: black;
    background-color: orange
}
.direction:hover {
    background-color: brown;
    color: aquamarine
}

.FRAULINDEMANN{
    color: blueviolet
}

.ROSA {
    color: red
}

table,
th,
td {
    border: 2px solid;
    text-align: left;
    border-radius: 2px;
    width: 15%;

}

table {
    padding: 7px;
    margin: 25px;
    width: 70%;
}

th {
    color: violet;
    font-weight: bold;
    height: 70px;
    background-color: palegreen;

}

td {
    color: peru;
    border: 2px solid;
    height: 50px;
    color: black;
    

}

tr:nth-child(even) {
    background-color: rgba(205, 92, 196, 0.822);
    
}

tr:nth-child(odd) {
    background-color: rgb(0, 255, 229);
}



