.speech {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24;
    color: black
}
.direction {
    font-family: Arial;
    font-size: 20;
    color: black;
    background-color: orange
}
.direction:hover {
    background-color: brown;
    color: aquamarine
}

.FRAULINDEMANN{
    color: blueviolet
}

.ROSA {
    color: red
}

table,
th,
td {
    border: 2px solid;
    text-align: left;
    border-radius: 2px;
    width: 15%;

}

table {
    padding: 7px;
    margin: 25px;
    width: 70%;
}

th {
    color: violet;
    font-weight: bold;
    height: 70px;
    background-color: palegreen;

}

td {
    color: peru;
    border: 2px solid;
    height: 50px;
    color: black;
    

}

tr:nth-child(even) {
    background-color: rgba(205, 92, 196, 0.822);
    
}

tr:nth-child(odd) {
    background-color: rgb(0, 255, 229);
}

.FRAULINDEMANN:hover {
    background: rgb(0, 200, 255);
    color: rgb(211, 131, 100);
    text-shadow: 4px 4px #aba9ba;
    border: rgb(141, 144, 150);
}

.ROSA:hover {
    background: rgb(140, 148, 149);
    color: rgb(219, 52, 149);
    text-shadow: 4px 4px #bd1111;
    border: rgb(20, 255, 63);
}


ul.navbar-horizontal {
    display:block;
    padding: 70%;
    color:rgb(0, 38, 255)
}

ul.navbar-horizontal {
    /* remove these */
    list-style-type: disc;
    margin: 15px;
    padding: 15px;}

ul.navbar-horizontal li {
    float:left;
    background-color:rgb(255, 196, 196);
}

ul.navbar-horizontal a {
    display:block;
    padding: 10px;
}

/* on hover change the link color*/
ul.navbar-horizontal a:hover {
    color:rgb(80, 92, 255);
}

.image {
    width: 50%;
}
Footer



